
h1{
    color: white; font-family: "Allan", serif;
}

#product-overview{
    background-color: red;
}

.section-title{
    color:rgb(28, 213, 133);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}